@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap');


* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow-x: hidden;
}

body {
   background-color: #F2F2F2;
  
   font-family: 'Public Sans', sans-serif;
}
h1, h2, h3, h4 {
   font-family: 'DM Serif Display', serif;
}
a {
   text-decoration: none;
   transition: all .5s ease;
}
ul {
   list-style: none;
}
.btn {
   background: #DA6D97;
   box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
   border-radius: 24px;
   padding: 14px 24px;
   font-family: 'Public Sans', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   color: #FBFCFE;
   display: inline-block;
}
.activ {
   color: #36536B;
}

.container {
   width: 1140px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

/* header */
#header {
   padding-top: 56px;
   background-color: #edf3f8;
   min-height: 100vh;
   background-image: url("../imgs/background.svg");
   background-repeat: no-repeat;
   background-position: top -300px right -220px;
   background-size: 780px 780px;
}
.main-menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-logo img {
   width: 135px;
   height: 38px;
   margin-right: 64px;
}
.main-menu-box {
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav-list {
   display: flex;
   align-items: center;
   column-gap: 40px;
}
.nav-item a {
   font-family: 'Public Sans', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 18px;
   color: #36536B;
   mix-blend-mode: normal;
   opacity: 0.7;
}
.nav-btn {
   background: #BA4270;
   box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
   border-radius: 24px;
   padding: 16px 24px;
   transition: all .5s ease;
}
.nav-btn:hover {
   background: #DA6D97;
}

.menu-icon {
   background-color: transparent;
   border: none;
   font-size: 40px;
   color: #36536B;
   display: flex;
   display: none;
}


/* hero */
.hero-content {
   padding-top: 74px;
}
.row {
   display: flex;
}
.between {
   justify-content: space-between;
}
.center {
   align-items: center;
}
.middle {
   vertical-align: middle;
}
.hero__row > div {
   width: 50%;
}
.hero-title {
   width: 546px;
   font-family: 'DM Serif Display', serif;
   font-size: 68px;
   font-weight: 400;
   line-height: 95px;
   letter-spacing: -0.5px;
   color: #36536B;
   margin-bottom: 25px;
}
.hero-form {
   width: 445px;
   height: 100px;
}
.form-input {
   width: 100%;
   background: #FBFCFE;
   box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
   border-radius: 24px;
   padding: 14px 190px 15px 27px;
   border: none;
   margin-bottom: 16px;
}
.form-input:focus {
   outline: none;
}
.form {
   position: relative;
}
.form-btn {
   position: absolute;
   right: 0;
   top: 0;
   border: none;
}
.form-span {
   margin-left: 20px;
   font-style: normal;
   font-size: 15px;
   line-height: 18px;
   color: #6C8294;
}
.form-link {
   font-weight: bold;
   text-decoration: none;
}
.hero-imgbox {
   display: flex;
   justify-content: center;
}
.hero-img {
   height: 700px;
   object-fit: cover;
}

/* Partner */
#partner {
   height: 472px;
   background-color: #1B262F;
}
.partner-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 100px 20px 0 20px;
}
.partner-title {
   font-family: 'DM Serif Display';
   font-style: normal;
   font-size: 48px;
   letter-spacing: -0.369231px;
   color: #FBFCFE;
   margin-bottom: 24px;
}
.partner-info p {
   width: 450px;
   font-family: 'Public Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 28px;
   color: #FBFCFE;
   mix-blend-mode: normal;
   opacity: 0.7;
   margin-bottom: 30px;
}
.partner-btn {
   padding: 16px 30px;
   border: 1.3px solid #ffffff82;
   border-radius: 32px;
   background-color:#1B262F;
}
.partner-btn a {
   font-family: 'Public Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 18px;
   text-align: center;
   letter-spacing: -0.115385px;
   color: #FBFCFE;
}
.partner-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   row-gap: 40px;
   column-gap: 55px;
   padding-top: 40px;
}

/* JS-CODE */
#js-code {
   padding: 60px 0 0 0;
}
.jscode__row {
   align-items: center;
   justify-content: space-evenly;
}
.js-info p {
   width: 445px;
   font-family: 'Public Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 28px;
   color: #6C8294;
}
.jscode-title {
   width: 445px;
   font-weight: 400;
   font-size: 48px;
   letter-spacing: -0.369231px;
   color: #36536B;
}

/* PHONE */
#phone {
   background-image: url("../imgs/krug-right.svg");
   background-repeat: no-repeat;
   background-position: right;
   background-size: 295px;
   padding: 50px 0 0 0px;
}

.phone-row {
   align-items: center;
   justify-content: space-evenly;
}
.phone-content p {
   width: 400px;
   font-family: 'Public Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 28px;
   color: #6C8294;
}
.phone-title {
   font-family: 'DM Serif Display';
   font-style: normal;
   font-size: 48px;
   letter-spacing: -0.369231px;
   color: #36536B;
}
.phone-imgbox img {
   width: 263px;
   height: 500px;
}


/*finances */
#finances {
   text-align: center;
   padding-top: 100px;
   margin-bottom: 40px;
}

.finances-content {
   justify-content: space-between;
   align-items: center;
}
.analiz-img {
   margin-bottom: 22px;
}
.finances-info p {
   width: 300px;
   font-family: 'Public Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 25px;
   text-align: center;
   letter-spacing: -0.115385px;
   color: #6C8294;
}
.finances-title {
   font-family: 'Public Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   letter-spacing: -0.138462px;
   color: #36536B;
   margin-bottom: 16px;
}

.analiz-button {
   padding-top: 100px;
}
.analiz-row {
   justify-content: space-between;

}
.analiz-heading {
   font-family: 'DM Serif Display';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 56px;
   letter-spacing: -0.369231px;
   color: #36536B;
}


/* FOOTER */
#footer {
   height: 100px;
   background-color: #1B262F;
   padding-top: 30px;
}
.align-center {
   justify-content: space-between;
   align-items: center;
}
.footer-list {
   column-gap: 40px;
   align-items: center;
}
.footer-item a {
   font-family: 'Public Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 18px;
   color: #FBFCFE;
   mix-blend-mode: normal;
   opacity: 0.7;
}
.footer-logo {
   margin-right: 40px;
}


.logo-list {
   align-items: center;
   column-gap: 24px;
}
.logo-item a {
   color: #fff;
   font-size: 30px;
   transition: all .5s ease;
}
.logo-item i:hover {
   transition: all .5s ease;
   color: chocolate;
}




@media only screen and (max-width: 992px) {
   .container {
      width: 85%;
   }
   #header {
      background-size: 130vh 130vh;
      background-position: top -80vh right; 
      padding-bottom: 100px;
   }

   /* hero-content */
   .hero-content {
      text-align: center;
   }
   .row {
      flex-direction: column-reverse;
   }
   .hero__row > div  {
      width: 100%;
   }
   .hero-imgbox {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .hero-img {
      height: 600px;
      object-fit: cover;
   }
   .hero-title {
      width: 573px;
      height: 122px;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.369231px;
      color: #36536B;
     margin-bottom: 22px;
   }
   .hero-form {
      margin: 0 auto;
   }
   .from-span {
      margin-left: 0;
   }

   /* Partner */
   #partner {
      height: 615px;
      background-color: #1B262F;
      text-align: center;
   }
   .partner-content {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      padding: 100px 20px 0 10px;
   }
   .partner-list {
      padding-top: 0;
   }
   .partner-title {
      height: 68px;
      margin-top: 70px;
   }
   .partner-btn {
      padding: 16px 35px;
   }

   /* JS-CODE */
   #js-code {
      margin: 0 auto;
      padding: 80px 0 0 0;
      text-align: center;
   }
   .jscode__row {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .jscode-content img {
      margin-bottom: 0px;
      position: relative;
      left: 30px;
   }
   .js-info p {
      width: 573px;
      font-size: 15px;
      line-height: 28px;
      color: #6C8294;
   }
   .jscode-title {
      width: 573px;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      text-align: center;
      letter-spacing: -0.369231px;
      color: #36536B;
   }

   /* PHONE */
   #phone {
      margin: 0 auto;
      background-image: url("../imgs/krug-right.svg");
      background-size: 0px 0px;
      text-align: center;
      padding: 50px 0px 80px 0;
   }

   .phone-row {
      align-items: center;
      justify-content: center;
   }
   .phone-content p {
      width: 573px;
      font-size: 15px;
      line-height: 28px;
      text-align: center;
      color: #6C8294;
   }
   .phone-title {
      width: 573px;
      font-size: 48px;
      letter-spacing: -0.369231px;
      color: #36536B;
      text-align: center;
   }
   .phone-imgbox img {
      width: 250px;
      height: 450px;
   }
   .colmn-gap {
      display: inline;
   }


      /*finances */
   #finances {
      text-align: center;
      padding-top: 100px;
      
   }
   .container {
      margin: 0 auto;
      padding-left: 0px;
      padding-right: 0px;
   }
   .finances-content {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
   }
   .finances-info {
      width: 33.3%;
   }
   .finances-info p {
      width: 250px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      letter-spacing: -0.115385px;
      color: #6C8294;
   }
   .finances-title {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      letter-spacing: -0.138462px;
      color: #36536B;
      margin-bottom: 16px;
   }

   .analiz-button {
      padding-top: 100px;
   }
   .analiz-row {
      flex-direction: column;

   }
   .analiz-heading {
      height: 80px;
      font-family: 'DM Serif Display';
      font-style: normal;
      font-size: 48px;
      letter-spacing: -0.369231px;
      color: #36536B;
      margin-bottom: 30px;
   }

   /* FOOTER */
   #footer {
      height: 100px;
      background-color: #1B262F;
      padding-top: 30px;
   }
   .align-center {
      flex-direction: row;
      align-items: center;
   }
   .footer-list {
      column-gap: 40px;
      align-items: center;
      flex-direction: row;
   }
   .footer-item a {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      color: #FBFCFE;
      mix-blend-mode: normal;
      opacity: 0.7;
   }
   .footer-logo {
      margin-right: 40px;
   }


   .logo-list {
      align-items: center;
      column-gap: 24px;
      flex-direction: row;
   }
   .logo-item a {
      color: #fff;
      font-size: 30px;
      transition: all .5s ease;
   }
   .logo-item i:hover {
      transition: all .5s ease;
      color: chocolate;
   }

}








@media only screen and (max-width: 768px) {
   #header {
      background-position: top -78vh right -30px; 
   }

   .main-menu-box {
      position: fixed;
      top: 0;
      right: -100%;
      width: 80vw;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      padding: 95px 30px;
      background: #1b262ff3;
      box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
      transition: all 0.4s ease;
   }
   .show {
      right: 0;
   }
   .main-menu-box::before {
      content: "";
      margin: 0 auto;
      width: 80%;
      height: 1px;
      background-color: #fbfcfe;
      display: block;
      opacity: 0.50;
      margin-top: 24px;
   }
   .nav-list {
      flex-direction: column;
   }
   .nav-item {
      margin-bottom: 32px;
   }
   .nav-item a {
      color: #fff;
   }
   .nav-link {
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      opacity: 0.7;
   }
   .main-menu-box {
      flex-grow: 0;
   }
   .main-menu-box .nav-btn {
      display: inline-block;
      position: relative;
      top: -60px;
   }
   
   .menu-icon {
      display: flex;
      position: relative;
      z-index: 100;
   }

      /* hero-content */
      .hero-content {
         margin: 0 auto;
      }
      .hero-imgbox {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 450px;
      }
      .hero-img {
         height: 450px;
      }
      .hero-title {
         width: 370px;
         font-size: 36px;
         line-height: 36px;
         letter-spacing: -0.24px;
         margin: 0 auto;
         margin-bottom: 15px;
      }

      .form-input {
         padding: 16px 27px;
      }
      .form-btn {
         position: static;
         display: block;
         width: 100%;
         border: none;
         margin-bottom: 15px;
      }
      .hero-form {
         margin: 0 auto;
         width: 100%;
         height: 150px;
      }
      .from-span {
         margin-left: 0;
      }

   /* Partner */
   #partner {
      height: 750px;
      background-color: #1B262F;
      text-align: center;
   }
   .partner-content {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      padding: 100px 20px 0 10px;
   }
   .partner-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 70px;
      column-gap: 70px;
      padding-top: 0;
      margin-bottom: 0;
   }
   .partner-title {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 0;
      width: 100%;
   }
   .partner-info p {
      font-size: 15px;
      line-height: 28px;
      opacity: 0.7;
      width: 100%;
   }
   .partner-btn {
      padding: 16px 35px;
   }

   
   /* JS-CODE */
   #js-code {
      margin: 0 auto;
      padding: 50px 0 0 0;
      text-align: center;
   }
   .jscode__row {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .jscode-content img {
      width: 368px;
      height: 260px;
      margin: 0 auto;
      margin-bottom: 0px;
   }
   .js-info p {
      width: 400px;
      font-size: 14px;
      line-height: 28px;
      color: #6C8294;
      text-align: center;
      margin: 0 auto;
   }
   .jscode-title {
      font-size: 36px;
      letter-spacing: -0.276923px;
      color: #36536B;
      margin-bottom: 20px;
   }

   /* PHONE */
   #phone {
      margin: 0 auto;
      background-image: url("../imgs/krug-right.svg");
      background-size: 0px 0px;
      text-align: center;
      padding: 50px 0px 80px 0;
   }

   .phone-row {
      align-items: center;
      justify-content: center;
   }
   .phone-content p {
      width: 400px;
      margin: 0 auto;
      font-size: 15px;
      line-height: 28px;
      text-align: center;
      color: #6C8294;
   }
   .phone-title {
      font-size: 36px;
      letter-spacing: -0.276923px;
      color: #36536B;
      margin-bottom: 20px;
   }
   .phone-imgbox img {
      width: 150px;
      height: 290px;
   }
   .colmn-gap {
      display: inline;
   }


      /*finances */
   #finances {
      text-align: center;
      padding-top: 100px;
      
   }
   .container {
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
   }
   .finances-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
   }
   .finances-info {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px;
   }
   .finances-info p {
      margin: 0 auto;
      text-align: center;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      letter-spacing: -0.115385px;
      color: #6C8294;
   }
   .finances-title {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      letter-spacing: -0.138462px;
      color: #36536B;
      margin-bottom: 16px;
   }

   .analiz-button {
      padding-top: 100px;
   }
   .analiz-row {
      flex-direction: column;

   }
   .analiz-heading {
      height: 80px;
      font-family: 'DM Serif Display';
      font-style: normal;
      font-size: 48px;
      letter-spacing: -0.369231px;
      color: #36536B;
      margin-bottom: 30px;
   }

      /* FOOTER */
      #footer {
         height: 353px;
         background-color: #1B262F;
         padding-top: 30px;
      }
      .align-center {
         flex-direction: column;
         align-items: center;
      }
      .footer-list {
         gap: 40px;
         align-items: center;
         flex-direction: column;
      }
      .footer-item a {
         font-family: 'Public Sans';
         font-style: normal;
         font-weight: 700;
         font-size: 15px;
         line-height: 18px;
         color: #FBFCFE;
         mix-blend-mode: normal;
         opacity: 0.7;
      }
      .footer-logo {
         margin-right: 40px;
      }
   
   
      .logo-list {
         align-items: center;
         column-gap: 40px;
         flex-direction: row;
         padding-top: 40px;
      }
      .logo-item a {
         color: #fff;
         font-size: 30px;
         transition: all .5s ease;
      }
      .logo-item i:hover {
         transition: all .5s ease;
         color: chocolate;
      }

}